/* 
-----Index-----
*/

.body-bienvenida {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #02457A;
}

.inicio {
    color: #02457A;
    background-color: #97CAD8;
    margin: 60px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 2px black;
}

.tit-inicio {
    text-align: center;
    padding-top: 20px;
    color: #02457A;
}

.tit-inicio img {
    width: 100px;
    height: 80px;
}

.tit-inicio h1 {
    text-shadow: -2px 2px 2px snow;
}

.cont-carousel {
    box-shadow: 0px 0px 5px 1px black;
    width: 75%;
    margin: 40px auto;
}

.cont-formLogin {
    padding: 60px;
    margin: 10% 0px;
    height: 80%;
    display: flex;
    align-items: center;
    border-left: 2px solid #0f293c;
}

.btn-formulario {
    width: 100%;
    background-color: #001b48;
    border: 1px solid #d6e8ee;
    color: #d6e8ee;
    border-radius: 10px;
    padding: 0;
}

.btn-formulario:hover {
    width: 100%;
    background-color: #d6e8ee;
    border: 1px solid #001b48;
    color: #001b48;
    font-weight: bolder;
}

.form-control {
    border-radius: 20px !important;
}

/*
inicio de usuario
*/

.navbar {
    background-color: #02457A;
}

.contenedor-inicio {
    padding: 4px;
    background-color: #97CAD8;
    height: 100vh;
}

.navbar a {
    color: snow;
}

.navbar a:hover {
    color: snow;
    font-weight: bold;
}


/*
card perfil de usuario
*/

.card {
    max-width: 540px;
    margin: 4% auto;
    color: snow;
    box-shadow: 0px 0px 5px 1px black;
}

.card img {
    height: 80%;
}


/*
gestion de usuario
*/

.contenedor-gestion {
    padding: 4px;
    background-color: #97CAD8;
    height: 100vh;
}


.titulo-gestion h1 {
    color: #02457A;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 1px solid black;
}

.btn-funcion {
    color: snow;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #02457A;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 0px 0px 2px 1px black;
}

.btn-funcion:hover {
    color: snow;
    font-weight: bold;
    box-shadow: 0px 1px 3px 1px black;
}


.contenedor-formEditar {
    visibility: hidden;
    padding: 15px 25px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 1px black;
    transition: all 0.3s ease;
}

.btn-opcion {
    background-color: transparent;
    border-radius: 8px;
    border-color: #02457A;
}

.btn-opcion:hover {

    background-color: Snow;
}


.tablaEspecialidades {
    width: 100%;
    text-align: center;
}


/*
scrollbar
*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #02457A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #235c89;

}

.tratamiento {
    color: black;
    border: 3px solid #235c89 !important;
}